{% extends "padre.html" %}
{% load static %}

{% block contenido %}
    
<main class="container">
    <h1 class="text-x1-center title"> Cursos </h1>
    {% if user.is_staff %}
    <a href="agregar_curso" class="btn btn-primary btn-sm">Nuevo Curso</a>
    {% endif %}
    <a href="buscar_curso" class="btn btn-primary btn-sm">Buscar Curso</a>
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>camada</th>
            </tr>
        </thead>
        <tbody>
            {% for n in cursos %}
            <tr>
                <td>{{n.id}}</td>
                <td>{{n.nombre}}</td>
                <td>{{n.camada}}</td>
                {% if user.is_staff %}
                <td><a href="{% url 'eliminar_curso' n.id %}" class="btn btn-danger btn-sm">BORRAR</a></td>
                <td><a href="{% url 'editar_curso' n.id %}" class="btn btn-warning btn-sm">Editar</a></td>
                {% endif %}
            </tr>

            {% endfor %}
            
        </tbody>
    </table>
</main>
{% endblock %}